          <ul>
            <li class="first on"><a href="{{ site.baseurl }}/">Life to Live Films</a></li>  
            <li class=""><a href="{{ site.baseurl }}/films.html">Films</a></li>
            <li class=""><a href="{{ site.baseurl }}/commercials.html">Commercials</a></li>
            <li class=""><a href="{{ site.baseurl }}/blog.html">News</a></li>
            <li class=""><a href="{{ site.baseurl }}/about/">About</a></li>
            <li class="last"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
          </ul>
